*{
  margin: 0;
  padding: 0;
  user-select: none;
}

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  position: relative;
  overscroll-behavior: none;
}

#stats{
  pointer-events: none;
}

.dg.ac{
  z-index: 99!important;
}

li{
  list-style: none;
}